@tailwind base;
@tailwind components;

.nav_bar{
  @apply hover:text-xl hover:text-sky-600 hover:border hover:bg-slate-200 rounded-md px-3 py-1;
}
.pricing_btn{
  @apply bg-[#1492E6] hover:bg-[#39bbdffa] shadow-4p py-3 px-10 rounded-3xl text-white text-xl font-normal;
}
@tailwind utilities;





::-webkit-scrollbar {
  width: 8px;

}


::-webkit-scrollbar-track {
  background: #a3a2a2;
  border-radius: 8px;
}


::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}